/* write a variable to the scss file The text color #3D3D3D to the HTML tags body and p
The background color #6D6D6D to the HTML tags body and h2 */

$color-3D3D3D : #3D3D3D;
$color-6D6D6D : #6D6D6D;

body, p {
    color: $color-3D3D3D;
    
}

body, h2 {
    background-color: $color-6D6D6D;
}

